<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  <title>fosshost mirror service</title>
</head>

<body>
<main>
    <h1>fosshost mirror service</h1>

    <p><a href="https://fosshost.org">fosshost</a> is a non-profit hosting provider for open source projects</p>

    <p>these are the geographical locations of our mirror hosts:</p>

    <ul>
        {% for host in groups['all'] %}
        <li><a href="https://{{ hostvars[host]['inventory_hostname'] }}">{{ hostvars[host]['inventory_hostname'] }}</a></li>
        {% endfor %}
    </ul>

    <p>this infrastruction is provisioned and managed with ansible. see our <a href="https://git.fossho.st/infra/ansible/mirrors">playbooks repo</a> for more info</p>

</main>
</body>
</html>

