server {
    listen 80;
    server_name mirror.fossho.st;
    index index.html;
    root /var/www/html;

    location / {
        try_files $uri $uri/ =404;
    }
}

server {
    listen 80;
    # listen 443 ssl;
    server_name {{ inventory_hostname }};
    root /srv/mirror;

    location / {
        try_files $uri $uri/ =404;
        autoindex on;
    }
}

